
//Notes for later really.
$minScreenWidth: 800px; //Below this will require mobile view.

//colors
$color-dark: #1b222d;
$color-light: #2f3847;
$color-text: #A6B2C0;
$color-white: #FFFFFF;
$color-main: #91EAE4;
$color-accent: #86A8E7;
$color-accentDark: #7F7FD5;
$color-red: #FC6471;
$border-radius: 0.1em;
$color-gradient: linear-gradient(30deg, $color-accent, $color-accentDark);